    $acent-color: #D41443;

    $header-menu-text: #FFFFFF;
    $header-menu-text-hover: #D41443;
    $header-btn-text: #D41443;
    $header-hover-btn: #ECEBEB;

    $text-light: #FFFFFF;
    $text-darck: #000000;
    $text-acent: #D41443;
    $text-pre-title: #FFA5BA;

    $hero-background: #FFB8CA;
    $hero-background-elips: #FFA5BA;

    $products-icecream-background: #FFB8CA;
    $products-icecoffe-background: #F0D1A5;
    $products-milkshakes-background: #C2E297;

    $about-background: #FFF5F6;
    $advantages-background: #FFF5F6;

    $contacts-background: #FFF5F6;

    $slaider-dots-active: #D9D9D9;
    $slaider-dots-un-active: #D31342;
    $slaider-background-color: #FAFAFA;
    $contacts-text-color: #907E82;
