<section class="advantages">
    <div class="container">
        <h2 class="fulse-title" id="about-us">Ingridients</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <span class="advantages__number advantages__number--milk">721</span>
                <p class="advantages__text">Only fresh and natural milk directly from Alpine farms.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--apple">16kg</span>
                <p class="advantages__text">We take apples directly from the Kingdom of Apples in Sweden.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--heart">84</span>
                <p class="advantages__text">There are no limits to the varieties of our ice cream.</p>
            </li>
        </ul>
    </div>
</section>