<section class="customer-reviews">
    <div class="container">
        <h2 class="fulse-title">customer reviews</h2>
        <ul class="costumer-card slaider list">
        <li class="costumer-card__client-emily client-reviews">
            <div class="costumer-card__client-emily--photo-position">
            <img
                srcset="
                    ./images/customer_reviews__emily-desktop--1x.png 1x,
                    ./images/customer_reviews__emily-desktop--2x.png 2x
                "
                src="./images/customer_reviews__emily-desktop--1x.png"
                alt="client Emily"
                width="85"
                height="85"
            /> </div>
            <div class="costumer-card__tumb-text">
                <div class="costumer-card__tex--size">
            <p class="costumer-card__tex"> <span class="costumer-card__text--pseudo"></span> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p></div></div>
            <p class="costumer-card__name">Emily, Los Angeles</p>
        </li>

        <li class="costumer-card__client-linda client-reviews">
            <div class="costumer-card__client-linda--photo-position">
            <img srcset="
                            ./images/customer_reviews__linda-desktop--1x.png 1x,
                            ./images/customer_reviews__linda-desktop--2x.png 2x
                        " src="./images/customer_reviews__linda-desktop--1x.png" alt="client Linda" width="85" height="85" />
            </div>
            <div class="costumer-card__tumb-text">
                <div class="costumer-card__tex--size">
                <p class="costumer-card__tex">This is my first time trying Magnum brand ice creams after hearing so many positive reviews on it and I gotta say that I
                was disappointed.
                
                The chocolate is pretty good but the vanilla ice cream!</p></div></div>
            <p class="costumer-card__name">Olivia, Philadelphia</p>
        </li>

        <li class="costumer-card__client-luisa client-reviews">
            <div class="costumer-card__client-luisa--photo-position">
            <img srcset="
                            ./images/customer_reviews__luisa-desktop--1x.png 1x,
                            ./images/customer_reviews__luisa-desktop--2x.png 2x
                        " src="./images/customer_reviews__luisa-desktop--1x.png" alt="client Luisa" width="85" height="85" />
            </div>
                        <div class="costumer-card__tumb-text">
                            <div class="costumer-card__tex--size">
            <p class="costumer-card__tex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea veniam ab quae unde corrupti officia modi sit accusantium odio cum. Ea veniam ab quae unde corrupti officia modi.</p></div></div>
            <p class="costumer-card__name">Luisa, New Yourk</p>
        </li>
        </ul>
    </div>
</section>