<section class="galery">
  <a name="gallery-section"></a>
  <div class="container">
    <h2 class="fulse-title">Gallery grid</h2>
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream1__x1.jpg 1x,
              ./images/galery/galery-icecream1__x2.jpg 2x
            "
            src="./images/galery/galery-icecream1__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream2__x1.jpg 1x,
              ./images/galery/galery-icecream2__x2.jpg 2x
            "
            src="./images/galery/galery-icecream2__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream3__x1.jpg 1x,
              ./images/galery/galery-icecream3__x2.jpg 2x
            "
            src="./images/galery/galery-icecream3__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream7__x1.jpg 1x,
              ./images/galery/galery-icecream7__x2.jpg 2x
            "
            src="./images/galery/galery-icecream7__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream5__x1.jpg 1x,
              ./images/galery/galery-icecream5__x2.jpg 2x
            "
            src="./images/galery/galery-icecream5__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream6__x1.jpg 1x,
              ./images/galery/galery-icecream6__x2.jpg 2x
            "
            src="./images/galery/galery-icecream6__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream4__x1.jpg 1x,
              ./images/galery/galery-icecream4__x2.jpg 2x
            "
            src="./images/galery/galery-icecream4__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream8__x1.jpg 1x,
              ./images/galery/galery-icecream8__x2.jpg 2x
            "
            src="./images/galery/galery-icecream8__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream9__x1.jpg 1x,
              ./images/galery/galery-icecream9__x2.jpg 2x
            "
            src="./images/galery/galery-icecream9__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="
              ./images/galery/galery-icecream10__x1.jpg 1x,
              ./images/galery/galery-icecream10__x2.jpg 2x
            "
            src="./images/galery/galery-icecream10__x1.jpg"
            alt="Photo"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
