<header class="section-header">
  <div class="container main-header">
    <nav class="header-nav"></nav>
    <a href="" class="logo">
      <img src="images/logo-1.png" alt="logo of site" />
    </a>
    <ul class="list header__list">
      <li class="header__item">
        <a href="./index.html" class="header__link">Home</a>
      </li>
      <li class="header__item">
        <a href="#gallery-section" class="header__link">About us</a>
      </li>
      <li class="header__item">
        <a href="#about-section" class="header__link">How it`s made?</a>
      </li>
      <li class="header__item">
        <a href="#products-section" class="header__link">Our products</a>
      </li>
      <li class="header__item">
        <a href="#contacts-section" class="header__link">Contact</a>
      </li>
    </ul>

    <button class="menu-open-btn">
      <svg class="open-modal-icon" width="20" height="12">
        <use href="images/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mob-menu-header is-hidden">
      <div class="container-mob">
        <button class="menu-close-btn">
          <svg class="close-modal-icon" width="14" height="14">
            <use href="images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <button type="button" class="mob-menu-btn">
          Buy now
          <svg class="header-btn-vector" width="6" height="8">
            <use href="images/icons.svg#icon-vector-btn"></use>
          </svg>
        </button>

        <ul class="mob-menu__list list">
          <li class="mob-menu__item">
            <a href="./index.html" class="mob-menu__link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about-us" class="mob-menu__link menu-close-btn1">About us</a>
          </li>
          <li class="mob-menu__item">
            <a href="#how-its-made" class="mob-menu__link menu-close-btn2">How it`s made?</a>
          </li>
          <li class="mob-menu__item">
            <a href="#our-products" class="mob-menu__link menu-close-btn3">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a href="#contact" class="mob-menu__link menu-close-btn4">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="header-btn header-btn__on-modal">
      Buy now
      <svg class="header-btn-vector" width="6" height="8">
        <use href="images/icons.svg#icon-vector-btn"></use>
      </svg>
    </button>
  </div>
</header>
