<section class="hero">
  <a name="hero-section"></a>
  <div class="container">
    <div class="hero__section">
      <div class="hero__pic-bg"></div>

      <div class="hero__circle"></div>

      <div class="hero__text">
        <span class="hero__text-up">ice cream</span><br />
        <span class="hero__text-up">made with</span>
        <h1 class="hero__title">passion</h1>
        <div class="hero__buttons">
          <!-- <div> -->
          <a class="hero__button btn3" href="#products-section">Products</a>
          <!-- </div>
                                <div> -->
          <a class="hero__button btn2" href="#about-section">How it’s made?</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="hero__milk-bg"></div>

      <p class="hero__milk-txt">
        ice cream, frozen dairy food made from cream or butterfat, milk, sugar, and flavourings.
        Frozen custard
      </p>
      <button class="hero__milk-btn" type="button">
        <svg class="hero-list__icon" width="8" height="8">
          <use href="/images/icons.svg#icon-arrow-right-long"></use>
        </svg>
      </button>

      <div class="hero__tasty-bg"></div>
      <p class="hero__txt16">16</p>
      <p class="hero__txt-cafes">cafes</p>
      <div class="hero__cafes16"></div>
      <p class="hero__txt23">23</p>
      <p class="hero__txt-food">food trucks</p>
      <div class="hero__food23"></div>
    </div>
  </div>
</section>
