.contacts-section {
    background-image: linear-gradient(
        to bottom,
        $text-light 25%,
        $contacts-background 25%,
        $contacts-background 75%,
        );
        padding-bottom: 45px;

        @include tablet {
            padding-bottom: 40px;
        }
        
        @include desktop {
            padding-bottom: 120px;
        }
}

.contacts-list {
    @include tablet {
        display: flex;
        justify-content: center;
    }
}

.contacts-list__item {
    position: relative;
    padding: 40px 32px;
    background-color: $text-light;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    cursor: pointer;
    perspective: 1000px;

    &:hover {
        .contacts-list__overlay {
        transform: rotateY(360deg);

        }
        .contacts-list__content {
            transform: rotateY(180deg);
            -webkit-backface-visibility: hidden;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @include tablet {
        width: 225px;

        &:not(:last-child) {
            margin: 0 25px 0 0;
        }
    }

    @include desktop {
        width: 395px;
        padding: 40px;
    }
}

.contacts-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    border-radius: 24px;
    transition: 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    transition-delay: 250ms;
}

.contacts-list__map {
    border-radius: 4px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts-list__content {
    transition: 0.5s;
    backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    transition-delay: 250ms;
}

.contacts-list__category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;
    color: $text-light;
    border-radius: 4px;
    text-transform: uppercase;
    height: 16px;

    @include tablet {
        font-size: 16px;
        line-height: calc(30/16);
        margin-bottom: 30px;
    }

    &.cafe {
        width: 80px;
        background-color: $products-icecoffe-background;
        @include tablet {
            width: 75px;
            height: 30px;
        }
    }
    &.foodtrack {
        width: 130px;
        background-color: $products-milkshakes-background;
        @include tablet {
            width: 140px;
            height: 30px;
        }
    }
}

.contacts-list__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;

    @include tablet {
        font-size: 14px;
        line-height: calc(26/14);
    }

    @include desktop {
        font-size: 16px;
        line-height: calc(30/16);
    }
}

.cotacts-list__description {
    position: relative;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/12);
    color: $contacts-text-color;

    @include tablet {
        font-size: 14px;
        line-height: calc(23/14);
        margin-bottom: 60px;
    }

    @include desktop {
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.04em;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform: translate(-50%);
        width: 100%;
        height: 0px;
        border: 1px solid #E1E1E1;

        @include tablet {
            bottom: -30px;
        }
    }
}

.contacts-list__wrap {
    margin-bottom: 10px;

    @include desktop {
        margin-bottom: 15px;
    }

}

.contacts-list__days-open {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);

    @include tablet {
        font-size: 14px;
        line-height: calc(26/14);
    }

    @include desktop {
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.04em;
    }
}

.contacts-list__time {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    color: $text-pre-title;

    @include tablet {
        font-size: 14px;
        line-height: calc(26/14);
    }

    @include desktop {
        font-size: 16px;
        line-height: calc(30/16);
    }
}

.contacts-list__adress {
    margin-top: 50px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/12);
    color: $contacts-text-color;

    @include tablet {
        margin-top: 60px;
        font-size: 14px;
        line-height: calc(26/14);
    }

    @include desktop {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: calc(30/16);
    }

    &>a {
        &:hover {
            color: $text-pre-title;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translate(-50%);
        width: 100%;
        height: 0px;
        border: 1px solid #E1E1E1;
        @include tablet {
            top: -30px;
        }
    }
}

.contacts-button-wrap {
    
    @include tablet {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    @include desktop {
        margin-top: 60px;
    }
}

.contacts-button {
    display: block;
    margin: 30px auto 0 auto;
    padding: 0 17px;
    width: 160px;
    height: 45px;
    border: none;
    background: #D41342;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21/16);
    color: $text-light;
    fill: $text-light;
    stroke: $text-light;

    &>svg {
        margin-left: 6px;
    }

    @include tablet {
        justify-content: center;
        width: 190px;
        margin: 0 15px 0 0;
        &>svg {
            margin-left: 15px;
        }
    }

    
}

.button-franchise {
    background: $text-light;
    color: $acent-color;
    fill: $acent-color;
    stroke: $acent-color;
    justify-content: center;
    margin-top: 10px;

    @include tablet {
        width: 175px;
        margin: 0;
    }

    @include desktop {
        &:hover {
            background: $header-hover-btn;
        }
    }

    &>svg {
        margin-left: 15px;
    }
}

.contact-button__icon {
    color: currentColor;
}

#map {
    width: 100%;
    height: 500px;
}

.map-title {
    color: $acent-color;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

}

.map-link {
    color: $contacts-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(28/16);
    text-align: center;
    letter-spacing: 0.04em;

    &:hover, :focus {
        color: $text-pre-title;
    }
}

.contacts-backdrop-map {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.contacts-modal-map {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 30px);
    max-width: 1279px;
    background-color: $text-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include desktop {
        max-width: 1259px;
    }
}

.contacts-modal-map__close-btn {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: $text-light;
    padding: 0;
    cursor: pointer;
    border: transparent;
    border-radius: 2px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #000;

    &:active {
        background-color: #ececec;
    }
    @include desktop {
    
        &:hover,
        &:focus {
            background-color: #ececec;
        }
    }
}

.contacts-backdrop-franchise {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.contacts-modal-franchise {
    position: absolute;
    padding: 50px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 30px);
    max-width: 1279px;
    background-color: $contacts-background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 600px;
    
}

.contacts-modal-franchise__close-btn {
    color: rgba(0, 0, 0, 0.507);
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $text-light;
    padding: 0;
    cursor: pointer;
    border: transparent;
    border-radius: 2px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #000;

    &:active {
        background-color: #ececec;
    }

    @include desktop {

        &:hover,
        &:focus {
            color: #000;
            background-color: #ececec;
        }
    }
}

.form-application__title {
    font-family: 'Titan One';
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-pre-title;
}

.form-application__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form-application__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $acent-color;
            &~.form-application__input-icon {
                fill: $acent-color;
            }
    }
}

.form-application__input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-application__input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: currentColor;
}