.customer-reviews {
    padding-bottom: 48px;
        @include tablet {
            padding-bottom: 80px;
        }
        @include desktop {
            padding-bottom: 120px;
        }
}

.costumer-card__client-emily--photo-position, 
.costumer-card__client-luisa--photo-position, 
.costumer-card__client-linda--photo-position {
    margin: 0 auto 32px;
    width: 85px;
    @include tablet {
        margin-bottom: 20px;
    }
    @include desktop {
        margin-bottom: 12px;
    }
}

.costumer-card__tumb-text { // может давать проскролл на мобиле
    width: 280px;
    margin: 0 auto;
    background-color: $slaider-background-color;
    position: relative;
        &::before {
            position: absolute;
            top: 30px;
            left: 53px;
            content: " ";
            background: url(../images/slaider-lapky.png);
            width: 54px;
            height: 40px;
        }
    @include tablet {
        width: 620px;
        background-color: $slaider-background-color;
        &::before {
            position: absolute;
            content: " ";
            background: none;
                width: 0px;
                height: 0px;
                top: 0px;
                left: 0px;
                    }
    }
    @include desktop {
        width: 1034px;
    }
}

.costumer-card__tex--size {
    padding: 43px 58px 0px 65px;
        @include tablet {
            padding: 37px 6px 18px 6px;
            &::before {
                        position: absolute;
                        content: " ";
                        background: url(../images/slaider-lapky__tablet.png);
                        width: 60px;
                        height: 40px;
                        top: 20px;
                        left: 6px;
                    }
        }
        @include desktop {
            padding: 45px 107px 23px 105px;
            &::before {
                position: absolute;
                content: " ";
                background: url(../images/slaider-lapky__desctop.png);
                width: 54px;
                height: 40px;
                top: 32px;
                left: 105px;
            }
        }
}

.costumer-card__tex {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    padding-bottom: 17px;
    color: $text-darck;
    background-image: repeating-linear-gradient(to bottom,
                #cc030300 0px,
                #92000000 28px,
                #E1E1E1 31px,
                #E1E1E1 1px);
    @include tablet {
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
        background-image: none;
        padding: 0px 50px 18px 45px;
        background: none;
        background-image: repeating-linear-gradient(to bottom,
            #cc030300 0px,
            #92000000 28px,
            #E1E1E1 31px,
            #E1E1E1 1px);                   
    }
    @include desktop {
        padding: 0px 35px 8px 37px;
        font-size: 16px;
        line-height: 1.86;
    }
}

.costumer-card__name {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    padding-top: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
        &::after {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, 0%);
            content: "";
            width: 32px;
            height: 4px;
            background: url(../images/slaider-dots-deckor.png);;
        }
    @include tablet{
        font-size: 16px;
        padding-top: 20px;
        margin-bottom: 24px;
        margin-top: 4px;
    }
    @include desktop {
        font-size: 20px;
        margin-bottom: 24px;
        margin-top: 24px;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slaider {
        .slaider-dots{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .slaider-dots li {
    list-style: none;
    margin: 0 9px;
    }
    .slaider-dots button {
        cursor: pointer;
        font-size: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $slaider-dots-active;
    
        border: none;
        padding: 0;
    }
    .slaider-dots li.slick-active button {
        background-color: $slaider-dots-un-active;
    }
}

#slick-slide-control00 {
    position: relative;
    background-color: transparent;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0%;
        content: "";
        width: 12.4px;
        height: 12px;
        background: url(../images/slaider-home-un-acktive.png);
    }
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slaider .slaider-dots li.slick-active #slick-slide-control00::after {
    background: url(../images/slaider-home-acktive.png);
}