.section-header {
    background-color: $hero-background;
    display: flex;
    width: 100%;
    position: absolute;
    

}

.main-header {
    display: flex;

    @include tablet {
        padding-top: 32px;
        align-items: center;
        justify-content: space-between;
    }

    @include desktop {
        padding-top: 40px;
        justify-content: start;
    }
}

.logo {
    margin-top: 8px;

    @include tablet {
        margin: 0;
        padding: 0;
       
    }

    @include desktop {
        margin: 0;
    }
}

.header-btn {
    display: none;
    background-color:$header-menu-text ;
cursor: pointer;
    @include tablet {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        height: 44px;
        border-radius: 22px;
        color: $header-btn-text;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        border: none;
        margin: 0;
        margin-left: 32px;
    }

    @include desktop {
        margin-left: auto;
    }
}

.header-btn:hover,
.header-btn:focus {
    // color: $header-hover-btn;
    background-color: #ECEBEB;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: none;

    @include desktop {
        display: flex;
        margin-left: 175px;
        z-index: 2;
    }
}

.header__link {
    @include desktop {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: $header-menu-text;
    }
}

.header__link:hover,
.header__link:focus {
    color: $header-menu-text-hover;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item {
    margin-right: 35px;

    &:last-child {
        margin-right: 0;
    }
}




.menu-open-btn {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    display: block;
    fill: $header-btn-text;
    margin-left: auto;

    @include desktop {
        display: none;
    }
}

.mob-menu.is-hidden {
    transform: translateX(-100%);
}

.mob-menu-header {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $products-icecream-background;
    top: 0;
    left: 0;
    overflow: auto;
    @include desktop{
        display: none;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-close-btn {
position: absolute;
top: 20px;
right: 20px;
    cursor: pointer;
    display: flex;

    fill: $header-menu-text;
    padding: 0;
    background-color: transparent;
    border: none;

    @include tablet {}

    @include desktop {
        display: none;
    }
}
.container-mob{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin-left: auto;

}
.mob-menu-btn {
    position: absolute;
    top: 60px;
    cursor: pointer;
left: 50%;
margin-left: -105px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    width: 210px;
    height: 44px;
    border-radius: 22px;
    color: $header-btn-text;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border: none;
    @include tablet{
    width: 186px;
    }
}

.mob-menu-btn:hover,
.mob-menu-btn:focus {
    color: $header-hover-btn;
    background-color: $header-menu-text-hover;
}

.header-btn-vector {
    width: 6px;
    height: 8px;
    margin-left: 20px;
    fill: $header-btn-text;

    .header-btn:hover &,
    .header-btn:focus & {
        fill: $header-menu-text-hover;
    }
    .mob-menu-btn:hover &,
    .mob-menu-btn:focus & {
        fill: $header-hover-btn;
    }
}

.mob-menu__list{
    padding-top: 135px;
}
.mob-menu__item {
    &:not(:last-child) {
        margin-bottom: 23px;
    }
}

.mob-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: $header-menu-text;
    text-decoration: none;

}

.mob-menu__link:hover,
.mob-menu__link:focus {
    color: $header-menu-text-hover;
}